dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260408.txt
dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260412.txt
dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260415.txt
dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260419.txt
dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260422.txt
dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260426.txt
dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260429.txt
dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260502.txt
dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260503.txt
dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260509.txt
dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260510.txt
dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260516.txt
dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260517.txt
dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260523.txt
dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260524.txt
dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260529.txt
dataset/LiHua-World/data/LiHua-World/bakery_deliver/20260531.txt
dataset/LiHua-World/data/LiHua-World/week1/20260105_1100.txt
dataset/LiHua-World/data/LiHua-World/week1/20260105_1400.txt
dataset/LiHua-World/data/LiHua-World/week1/20260106_0900.txt
dataset/LiHua-World/data/LiHua-World/week1/20260106_1300.txt
dataset/LiHua-World/data/LiHua-World/week1/20260106_1500.txt
dataset/LiHua-World/data/LiHua-World/week1/20260106_2000.txt
dataset/LiHua-World/data/LiHua-World/week1/20260107_1500.txt
dataset/LiHua-World/data/LiHua-World/week1/20260108_1100.txt
dataset/LiHua-World/data/LiHua-World/week1/20260108_1900.txt
dataset/LiHua-World/data/LiHua-World/week1/20260109_1000.txt
dataset/LiHua-World/data/LiHua-World/week1/20260109_1600.txt
dataset/LiHua-World/data/LiHua-World/week1/20260110_1400.txt
dataset/LiHua-World/data/LiHua-World/week1/20260110_2100.txt
dataset/LiHua-World/data/LiHua-World/week1/20260111_0800.txt
dataset/LiHua-World/data/LiHua-World/week1/20260111_1700.txt
dataset/LiHua-World/data/LiHua-World/week10/20260309_0900.txt
dataset/LiHua-World/data/LiHua-World/week10/20260309_1000.txt
dataset/LiHua-World/data/LiHua-World/week10/20260309_1200.txt
dataset/LiHua-World/data/LiHua-World/week10/20260311_1015.txt
dataset/LiHua-World/data/LiHua-World/week10/20260311_1430.txt
dataset/LiHua-World/data/LiHua-World/week10/20260312_1230.txt
dataset/LiHua-World/data/LiHua-World/week10/20260312_1600.txt
dataset/LiHua-World/data/LiHua-World/week10/20260314_1700.txt
dataset/LiHua-World/data/LiHua-World/week11/20260317_0800.txt
dataset/LiHua-World/data/LiHua-World/week11/20260317_1530.txt
dataset/LiHua-World/data/LiHua-World/week11/20260318_1427.txt
dataset/LiHua-World/data/LiHua-World/week11/20260318_1500.txt
dataset/LiHua-World/data/LiHua-World/week11/20260318_1510.txt
dataset/LiHua-World/data/LiHua-World/week11/20260318_1530.txt
dataset/LiHua-World/data/LiHua-World/week11/20260319_1600.txt
dataset/LiHua-World/data/LiHua-World/week11/20260319_1900.txt
dataset/LiHua-World/data/LiHua-World/week11/20260320_0800.txt
dataset/LiHua-World/data/LiHua-World/week11/20260320_1800.txt
dataset/LiHua-World/data/LiHua-World/week12/20260323_0800.txt
dataset/LiHua-World/data/LiHua-World/week12/20260324_1200.txt
dataset/LiHua-World/data/LiHua-World/week12/20260325_1900.txt
dataset/LiHua-World/data/LiHua-World/week12/20260326_1600.txt
dataset/LiHua-World/data/LiHua-World/week12/20260327_0800.txt
dataset/LiHua-World/data/LiHua-World/week12/20260328_1500.txt
dataset/LiHua-World/data/LiHua-World/week12/20260329_1000.txt
dataset/LiHua-World/data/LiHua-World/week12/20260329_1300.txt
dataset/LiHua-World/data/LiHua-World/week13/20260330_0800.txt
dataset/LiHua-World/data/LiHua-World/week13/20260330_1800.txt
dataset/LiHua-World/data/LiHua-World/week13/20260331_1400.txt
dataset/LiHua-World/data/LiHua-World/week13/20260331_1700.txt
dataset/LiHua-World/data/LiHua-World/week13/20260401_1500.txt
dataset/LiHua-World/data/LiHua-World/week13/20260402_0830.txt
dataset/LiHua-World/data/LiHua-World/week13/20260402_1900.txt
dataset/LiHua-World/data/LiHua-World/week13/20260403_0800.txt
dataset/LiHua-World/data/LiHua-World/week13/20260403_1500.txt
dataset/LiHua-World/data/LiHua-World/week13/20260405_1000.txt
dataset/LiHua-World/data/LiHua-World/week14/20260407_1900.txt
dataset/LiHua-World/data/LiHua-World/week14/20260408_1300.txt
dataset/LiHua-World/data/LiHua-World/week14/20260410_1100.txt
dataset/LiHua-World/data/LiHua-World/week14/20260411_1600.txt
dataset/LiHua-World/data/LiHua-World/week14/20260411_2100.txt
dataset/LiHua-World/data/LiHua-World/week15/20260413_2100.txt
dataset/LiHua-World/data/LiHua-World/week15/20260414_1600.txt
dataset/LiHua-World/data/LiHua-World/week15/20260414_1700.txt
dataset/LiHua-World/data/LiHua-World/week15/20260416_1900.txt
dataset/LiHua-World/data/LiHua-World/week15/20260416_2100.txt
dataset/LiHua-World/data/LiHua-World/week15/20260417_1100.txt
dataset/LiHua-World/data/LiHua-World/week15/20260417_1200.txt
dataset/LiHua-World/data/LiHua-World/week15/20260417_2000.txt
dataset/LiHua-World/data/LiHua-World/week15/20260418_1500.txt
dataset/LiHua-World/data/LiHua-World/week15/20260418_1530.txt
dataset/LiHua-World/data/LiHua-World/week15/20260419_2100.txt
dataset/LiHua-World/data/LiHua-World/week16/20260420_2100.txt
dataset/LiHua-World/data/LiHua-World/week16/20260421_1600.txt
dataset/LiHua-World/data/LiHua-World/week16/20260424_2100.txt
dataset/LiHua-World/data/LiHua-World/week16/20260425_2100.txt
dataset/LiHua-World/data/LiHua-World/week16/20260425_2330.txt
dataset/LiHua-World/data/LiHua-World/week16/20260426_1000.txt
dataset/LiHua-World/data/LiHua-World/week16/20260426_1330.txt
dataset/LiHua-World/data/LiHua-World/week17/20260427_1030.txt
dataset/LiHua-World/data/LiHua-World/week17/20260427_1430.txt
dataset/LiHua-World/data/LiHua-World/week17/20260427_1500.txt
dataset/LiHua-World/data/LiHua-World/week17/20260428_1700.txt
dataset/LiHua-World/data/LiHua-World/week17/20260428_1830.txt
dataset/LiHua-World/data/LiHua-World/week17/20260429_1700.txt
dataset/LiHua-World/data/LiHua-World/week17/20260429_1800.txt
dataset/LiHua-World/data/LiHua-World/week17/20260430_1700.txt
dataset/LiHua-World/data/LiHua-World/week17/20260501_1600.txt
dataset/LiHua-World/data/LiHua-World/week18/20260504_1600.txt
dataset/LiHua-World/data/LiHua-World/week18/20260505_1900.txt
dataset/LiHua-World/data/LiHua-World/week18/20260506_1200.txt
dataset/LiHua-World/data/LiHua-World/week18/20260507_1600.txt
dataset/LiHua-World/data/LiHua-World/week18/20260508_0800.txt
dataset/LiHua-World/data/LiHua-World/week18/20260508_1730.txt
dataset/LiHua-World/data/LiHua-World/week18/20260509_1830.txt
dataset/LiHua-World/data/LiHua-World/week18/20260510_1130.txt
dataset/LiHua-World/data/LiHua-World/week19/20260511_1000.txt
dataset/LiHua-World/data/LiHua-World/week19/20260511_1100.txt
dataset/LiHua-World/data/LiHua-World/week19/20260512_1600.txt
dataset/LiHua-World/data/LiHua-World/week19/20260513_0900.txt
dataset/LiHua-World/data/LiHua-World/week19/20260514_1400.txt
dataset/LiHua-World/data/LiHua-World/week19/20260514_2200.txt
dataset/LiHua-World/data/LiHua-World/week19/20260515_1000.txt
dataset/LiHua-World/data/LiHua-World/week19/20260516_1000.txt
dataset/LiHua-World/data/LiHua-World/week2/20260112_1000.txt
dataset/LiHua-World/data/LiHua-World/week2/20260112_1500.txt
dataset/LiHua-World/data/LiHua-World/week2/20260113_1100.txt
dataset/LiHua-World/data/LiHua-World/week2/20260114_1200.txt
dataset/LiHua-World/data/LiHua-World/week2/20260114_1700.txt
dataset/LiHua-World/data/LiHua-World/week2/20260115_0800.txt
dataset/LiHua-World/data/LiHua-World/week2/20260115_1645.txt
dataset/LiHua-World/data/LiHua-World/week2/20260118_1200.txt
dataset/LiHua-World/data/LiHua-World/week2/20260119_0930.txt
dataset/LiHua-World/data/LiHua-World/week2/20260119_1130.txt
dataset/LiHua-World/data/LiHua-World/week2/20260119_1430.txt
dataset/LiHua-World/data/LiHua-World/week20/20260518_1000.txt
dataset/LiHua-World/data/LiHua-World/week20/20260519_1200.txt
dataset/LiHua-World/data/LiHua-World/week20/20260520_1500.txt
dataset/LiHua-World/data/LiHua-World/week20/20260520_1800.txt
dataset/LiHua-World/data/LiHua-World/week20/20260521_1500.txt
dataset/LiHua-World/data/LiHua-World/week20/20260521_2000.txt
dataset/LiHua-World/data/LiHua-World/week20/20260522_1600.txt
dataset/LiHua-World/data/LiHua-World/week20/20260522_2000.txt
dataset/LiHua-World/data/LiHua-World/week20/20260523_1400.txt
dataset/LiHua-World/data/LiHua-World/week21/20260525_1500.txt
dataset/LiHua-World/data/LiHua-World/week21/20260526_1540.txt
dataset/LiHua-World/data/LiHua-World/week21/20260527_1000.txt
dataset/LiHua-World/data/LiHua-World/week21/20260527_1600.txt
dataset/LiHua-World/data/LiHua-World/week21/20260527_2300.txt
dataset/LiHua-World/data/LiHua-World/week21/20260528_1500.txt
dataset/LiHua-World/data/LiHua-World/week21/20260529_1700.txt
dataset/LiHua-World/data/LiHua-World/week21/20260531_2000.txt
dataset/LiHua-World/data/LiHua-World/week22/20260601_1600.txt
dataset/LiHua-World/data/LiHua-World/week22/20260602_1000.txt
dataset/LiHua-World/data/LiHua-World/week22/20260603_0945.txt
dataset/LiHua-World/data/LiHua-World/week22/20260604_1800.txt
dataset/LiHua-World/data/LiHua-World/week22/20260605_1100.txt
dataset/LiHua-World/data/LiHua-World/week22/20260605_1845.txt
dataset/LiHua-World/data/LiHua-World/week22/20260606_0900.txt
dataset/LiHua-World/data/LiHua-World/week22/20260606_1945.txt
dataset/LiHua-World/data/LiHua-World/week23/20260608_1400.txt
dataset/LiHua-World/data/LiHua-World/week23/20260608_1430.txt
dataset/LiHua-World/data/LiHua-World/week23/20260609_1300.txt
dataset/LiHua-World/data/LiHua-World/week23/20260609_1620.txt
dataset/LiHua-World/data/LiHua-World/week23/20260610_1600.txt
dataset/LiHua-World/data/LiHua-World/week23/20260611_1245.txt
dataset/LiHua-World/data/LiHua-World/week23/20260612_1500.txt
dataset/LiHua-World/data/LiHua-World/week23/20260613_1045.txt
dataset/LiHua-World/data/LiHua-World/week24/20260615_0900.txt
dataset/LiHua-World/data/LiHua-World/week24/20260616_1040.txt
dataset/LiHua-World/data/LiHua-World/week24/20260617_1700.txt
dataset/LiHua-World/data/LiHua-World/week24/20260618_1130.txt
dataset/LiHua-World/data/LiHua-World/week24/20260619_0815.txt
dataset/LiHua-World/data/LiHua-World/week24/20260620_1845.txt
dataset/LiHua-World/data/LiHua-World/week24/20260621_1645.txt
dataset/LiHua-World/data/LiHua-World/week24/20260621_1900.txt
dataset/LiHua-World/data/LiHua-World/week25/20260622_1100.txt
dataset/LiHua-World/data/LiHua-World/week25/20260622_1330.txt
dataset/LiHua-World/data/LiHua-World/week25/20260623_1015.txt
dataset/LiHua-World/data/LiHua-World/week25/20260624_1400.txt
dataset/LiHua-World/data/LiHua-World/week25/20260625_1900.txt
dataset/LiHua-World/data/LiHua-World/week25/20260625_2000.txt
dataset/LiHua-World/data/LiHua-World/week25/20260626_1100.txt
dataset/LiHua-World/data/LiHua-World/week25/20260627_1200.txt
dataset/LiHua-World/data/LiHua-World/week26/20260629_1830.txt
dataset/LiHua-World/data/LiHua-World/week26/20260630_1530.txt
dataset/LiHua-World/data/LiHua-World/week26/20260630_1800.txt
dataset/LiHua-World/data/LiHua-World/week26/20260701_1000.txt
dataset/LiHua-World/data/LiHua-World/week26/20260701_1400.txt
dataset/LiHua-World/data/LiHua-World/week26/20260702_1500.txt
dataset/LiHua-World/data/LiHua-World/week26/20260702_1900.txt
dataset/LiHua-World/data/LiHua-World/week26/20260703_1145.txt
dataset/LiHua-World/data/LiHua-World/week27/20260706_1530.txt
dataset/LiHua-World/data/LiHua-World/week27/20260706_1930.txt
dataset/LiHua-World/data/LiHua-World/week27/20260707_1600.txt
dataset/LiHua-World/data/LiHua-World/week27/20260708_1400.txt
dataset/LiHua-World/data/LiHua-World/week27/20260709_1000.txt
dataset/LiHua-World/data/LiHua-World/week27/20260710_0830.txt
dataset/LiHua-World/data/LiHua-World/week27/20260711_1100.txt
dataset/LiHua-World/data/LiHua-World/week27/20260712_1600.txt
dataset/LiHua-World/data/LiHua-World/week28/20260713_1930.txt
dataset/LiHua-World/data/LiHua-World/week28/20260714_1200.txt
dataset/LiHua-World/data/LiHua-World/week28/20260714_1500.txt
dataset/LiHua-World/data/LiHua-World/week28/20260715_1900.txt
dataset/LiHua-World/data/LiHua-World/week28/20260716_1000.txt
dataset/LiHua-World/data/LiHua-World/week28/20260717_1200.txt
dataset/LiHua-World/data/LiHua-World/week28/20260717_1930.txt
dataset/LiHua-World/data/LiHua-World/week28/20260718_1800.txt
dataset/LiHua-World/data/LiHua-World/week29/20260720_1500.txt
dataset/LiHua-World/data/LiHua-World/week29/20260722_1300.txt
dataset/LiHua-World/data/LiHua-World/week29/20260723_1400.txt
dataset/LiHua-World/data/LiHua-World/week29/20260725_1000.txt
dataset/LiHua-World/data/LiHua-World/week29/20260726_1400.txt
dataset/LiHua-World/data/LiHua-World/week29/20260726_1600.txt
dataset/LiHua-World/data/LiHua-World/week3/20260121_1000.txt
dataset/LiHua-World/data/LiHua-World/week3/20260121_1300.txt
dataset/LiHua-World/data/LiHua-World/week3/20260122_1500.txt
dataset/LiHua-World/data/LiHua-World/week3/20260122_1600.txt
dataset/LiHua-World/data/LiHua-World/week3/20260122_1700.txt
dataset/LiHua-World/data/LiHua-World/week3/20260123_1700.txt
dataset/LiHua-World/data/LiHua-World/week3/20260123_1730.txt
dataset/LiHua-World/data/LiHua-World/week3/20260127_2030.txt
dataset/LiHua-World/data/LiHua-World/week3/20260128_1900.txt
dataset/LiHua-World/data/LiHua-World/week30/20260727_1630.txt
dataset/LiHua-World/data/LiHua-World/week30/20260728_1800.txt
dataset/LiHua-World/data/LiHua-World/week30/20260729_1400.txt
dataset/LiHua-World/data/LiHua-World/week30/20260730_1500.txt
dataset/LiHua-World/data/LiHua-World/week30/20260730_1730.txt
dataset/LiHua-World/data/LiHua-World/week30/20260731_1300.txt
dataset/LiHua-World/data/LiHua-World/week30/20260801_1500.txt
dataset/LiHua-World/data/LiHua-World/week30/20260801_1900.txt
dataset/LiHua-World/data/LiHua-World/week31/20260803_1300.txt
dataset/LiHua-World/data/LiHua-World/week31/20260804_1400.txt
dataset/LiHua-World/data/LiHua-World/week31/20260804_1630.txt
dataset/LiHua-World/data/LiHua-World/week31/20260805_1600.txt
dataset/LiHua-World/data/LiHua-World/week31/20260805_2130.txt
dataset/LiHua-World/data/LiHua-World/week31/20260806_1630.txt
dataset/LiHua-World/data/LiHua-World/week31/20260807_1200.txt
dataset/LiHua-World/data/LiHua-World/week31/20260809_1200.txt
dataset/LiHua-World/data/LiHua-World/week32/20260810_1800.txt
dataset/LiHua-World/data/LiHua-World/week32/20260811_1100.txt
dataset/LiHua-World/data/LiHua-World/week32/20260812_1100.txt
dataset/LiHua-World/data/LiHua-World/week32/20260813_1730.txt
dataset/LiHua-World/data/LiHua-World/week32/20260814_1500.txt
dataset/LiHua-World/data/LiHua-World/week32/20260816_1700.txt
dataset/LiHua-World/data/LiHua-World/week32/20260816_2000.txt
dataset/LiHua-World/data/LiHua-World/week32/20260817_1215.txt
dataset/LiHua-World/data/LiHua-World/week33/20260818_1000.txt
dataset/LiHua-World/data/LiHua-World/week33/20260818_1400.txt
dataset/LiHua-World/data/LiHua-World/week33/20260819_1000.txt
dataset/LiHua-World/data/LiHua-World/week33/20260819_1800.txt
dataset/LiHua-World/data/LiHua-World/week33/20260820_1400.txt
dataset/LiHua-World/data/LiHua-World/week33/20260821_1500.txt
dataset/LiHua-World/data/LiHua-World/week33/20260822_1700.txt
dataset/LiHua-World/data/LiHua-World/week33/20260823_1800.txt
dataset/LiHua-World/data/LiHua-World/week34/20260824_1900.txt
dataset/LiHua-World/data/LiHua-World/week34/20260825_1045.txt
dataset/LiHua-World/data/LiHua-World/week34/20260826_1700.txt
dataset/LiHua-World/data/LiHua-World/week34/20260826_1800.txt
dataset/LiHua-World/data/LiHua-World/week34/20260827_1900.txt
dataset/LiHua-World/data/LiHua-World/week34/20260828_1000.txt
dataset/LiHua-World/data/LiHua-World/week34/20260829_1100.txt
dataset/LiHua-World/data/LiHua-World/week34/20260829_1400.txt
dataset/LiHua-World/data/LiHua-World/week35/20260831_1900.txt
dataset/LiHua-World/data/LiHua-World/week35/20260901_1000.txt
dataset/LiHua-World/data/LiHua-World/week35/20260901_1300.txt
dataset/LiHua-World/data/LiHua-World/week35/20260902_1600.txt
dataset/LiHua-World/data/LiHua-World/week35/20260903_1700.txt
dataset/LiHua-World/data/LiHua-World/week35/20260903_1900.txt
dataset/LiHua-World/data/LiHua-World/week35/20260904_1000.txt
dataset/LiHua-World/data/LiHua-World/week35/20260905_1400.txt
dataset/LiHua-World/data/LiHua-World/week36/20260907_1400.txt
dataset/LiHua-World/data/LiHua-World/week36/20260908_1500.txt
dataset/LiHua-World/data/LiHua-World/week36/20260908_2100.txt
dataset/LiHua-World/data/LiHua-World/week36/20260909_1000.txt
dataset/LiHua-World/data/LiHua-World/week36/20260910_1200.txt
dataset/LiHua-World/data/LiHua-World/week36/20260911_1400.txt
dataset/LiHua-World/data/LiHua-World/week36/20260912_1600.txt
dataset/LiHua-World/data/LiHua-World/week36/20260913_1800.txt
dataset/LiHua-World/data/LiHua-World/week37/20260914_1000.txt
dataset/LiHua-World/data/LiHua-World/week37/20260915_1200.txt
dataset/LiHua-World/data/LiHua-World/week37/20260916_1600.txt
dataset/LiHua-World/data/LiHua-World/week37/20260916_1900.txt
dataset/LiHua-World/data/LiHua-World/week37/20260917_1000.txt
dataset/LiHua-World/data/LiHua-World/week37/20260918_1800.txt
dataset/LiHua-World/data/LiHua-World/week37/20260919_1000.txt
dataset/LiHua-World/data/LiHua-World/week37/20260920_1600.txt
dataset/LiHua-World/data/LiHua-World/week38/20260921_1000.txt
dataset/LiHua-World/data/LiHua-World/week38/20260921_1600.txt
dataset/LiHua-World/data/LiHua-World/week38/20260922_1200.txt
dataset/LiHua-World/data/LiHua-World/week38/20260922_1700.txt
dataset/LiHua-World/data/LiHua-World/week38/20260923_1600.txt
dataset/LiHua-World/data/LiHua-World/week38/20260924_2000.txt
dataset/LiHua-World/data/LiHua-World/week38/20260925_2100.txt
dataset/LiHua-World/data/LiHua-World/week38/20260926_1030.txt
dataset/LiHua-World/data/LiHua-World/week39/20260928_1000.txt
dataset/LiHua-World/data/LiHua-World/week39/20260929_1100.txt
dataset/LiHua-World/data/LiHua-World/week39/20260930_1400.txt
dataset/LiHua-World/data/LiHua-World/week39/20260930_1600.txt
dataset/LiHua-World/data/LiHua-World/week39/20261001_1800.txt
dataset/LiHua-World/data/LiHua-World/week39/20261001_2000.txt
dataset/LiHua-World/data/LiHua-World/week39/20261002_1300.txt
dataset/LiHua-World/data/LiHua-World/week39/20261003_1200.txt
dataset/LiHua-World/data/LiHua-World/week4/20260130_1000.txt
dataset/LiHua-World/data/LiHua-World/week4/20260131_1400.txt
dataset/LiHua-World/data/LiHua-World/week4/20260201_2000.txt
dataset/LiHua-World/data/LiHua-World/week40/20261005_1005.txt
dataset/LiHua-World/data/LiHua-World/week40/20261006_1000.txt
dataset/LiHua-World/data/LiHua-World/week40/20261007_1200.txt
dataset/LiHua-World/data/LiHua-World/week40/20261008_1400.txt
dataset/LiHua-World/data/LiHua-World/week40/20261008_1600.txt
dataset/LiHua-World/data/LiHua-World/week40/20261009_1700.txt
dataset/LiHua-World/data/LiHua-World/week40/20261010_1010.txt
dataset/LiHua-World/data/LiHua-World/week40/20261011_1100.txt
dataset/LiHua-World/data/LiHua-World/week41/20261012_1000.txt
dataset/LiHua-World/data/LiHua-World/week41/20261012_1400.txt
dataset/LiHua-World/data/LiHua-World/week41/20261013_1330.txt
dataset/LiHua-World/data/LiHua-World/week41/20261014_1400.txt
dataset/LiHua-World/data/LiHua-World/week41/20261014_2000.txt
dataset/LiHua-World/data/LiHua-World/week41/20261015_1500.txt
dataset/LiHua-World/data/LiHua-World/week41/20261016_1600.txt
dataset/LiHua-World/data/LiHua-World/week41/20261017_1700.txt
dataset/LiHua-World/data/LiHua-World/week42/20261019_1900.txt
dataset/LiHua-World/data/LiHua-World/week42/20261019_2000.txt
dataset/LiHua-World/data/LiHua-World/week42/20261020_1000.txt
dataset/LiHua-World/data/LiHua-World/week42/20261021_2100.txt
dataset/LiHua-World/data/LiHua-World/week42/20261022_2200.txt
dataset/LiHua-World/data/LiHua-World/week42/20261023_2300.txt
dataset/LiHua-World/data/LiHua-World/week42/20261024_1100.txt
dataset/LiHua-World/data/LiHua-World/week42/20261025_1600.txt
dataset/LiHua-World/data/LiHua-World/week43/20261026_1600.txt
dataset/LiHua-World/data/LiHua-World/week43/20261026_2000.txt
dataset/LiHua-World/data/LiHua-World/week43/20261027_1700.txt
dataset/LiHua-World/data/LiHua-World/week43/20261028_1800.txt
dataset/LiHua-World/data/LiHua-World/week43/20261029_1000.txt
dataset/LiHua-World/data/LiHua-World/week43/20261030_1030.txt
dataset/LiHua-World/data/LiHua-World/week43/20261030_1400.txt
dataset/LiHua-World/data/LiHua-World/week43/20261031_2100.txt
dataset/LiHua-World/data/LiHua-World/week44/20261101_1100.txt
dataset/LiHua-World/data/LiHua-World/week44/20261102_1200.txt
dataset/LiHua-World/data/LiHua-World/week44/20261102_1400.txt
dataset/LiHua-World/data/LiHua-World/week44/20261103_1300.txt
dataset/LiHua-World/data/LiHua-World/week44/20261104_1600.txt
dataset/LiHua-World/data/LiHua-World/week44/20261104_1800.txt
dataset/LiHua-World/data/LiHua-World/week44/20261105_1500.txt
dataset/LiHua-World/data/LiHua-World/week44/20261106_2000.txt
dataset/LiHua-World/data/LiHua-World/week45/20261109_0900.txt
dataset/LiHua-World/data/LiHua-World/week45/20261110_1000.txt
dataset/LiHua-World/data/LiHua-World/week45/20261110_1100.txt
dataset/LiHua-World/data/LiHua-World/week45/20261111_1200.txt
dataset/LiHua-World/data/LiHua-World/week45/20261112_1400.txt
dataset/LiHua-World/data/LiHua-World/week45/20261113_1300.txt
dataset/LiHua-World/data/LiHua-World/week45/20261114_1600.txt
dataset/LiHua-World/data/LiHua-World/week45/20261115_1500.txt
dataset/LiHua-World/data/LiHua-World/week46/20261116_1600.txt
dataset/LiHua-World/data/LiHua-World/week46/20261117_1700.txt
dataset/LiHua-World/data/LiHua-World/week46/20261117_1900.txt
dataset/LiHua-World/data/LiHua-World/week46/20261118_1800.txt
dataset/LiHua-World/data/LiHua-World/week46/20261118_2000.txt
dataset/LiHua-World/data/LiHua-World/week46/20261119_1000.txt
dataset/LiHua-World/data/LiHua-World/week46/20261120_2000.txt
dataset/LiHua-World/data/LiHua-World/week46/20261121_2100.txt
dataset/LiHua-World/data/LiHua-World/week47/20261123_2300.txt
dataset/LiHua-World/data/LiHua-World/week47/20261124_1400.txt
dataset/LiHua-World/data/LiHua-World/week47/20261124_1600.txt
dataset/LiHua-World/data/LiHua-World/week47/20261125_1500.txt
dataset/LiHua-World/data/LiHua-World/week47/20261126_1630.txt
dataset/LiHua-World/data/LiHua-World/week47/20261127_1700.txt
dataset/LiHua-World/data/LiHua-World/week47/20261128_1800.txt
dataset/LiHua-World/data/LiHua-World/week47/20261129_1900.txt
dataset/LiHua-World/data/LiHua-World/week48/20261130_1130.txt
dataset/LiHua-World/data/LiHua-World/week48/20261201_1201.txt
dataset/LiHua-World/data/LiHua-World/week48/20261202_1202.txt
dataset/LiHua-World/data/LiHua-World/week48/20261202_1400.txt
dataset/LiHua-World/data/LiHua-World/week48/20261203_1300.txt
dataset/LiHua-World/data/LiHua-World/week48/20261204_1400.txt
dataset/LiHua-World/data/LiHua-World/week48/20261205_1500.txt
dataset/LiHua-World/data/LiHua-World/week48/20261206_1600.txt
dataset/LiHua-World/data/LiHua-World/week49/20261207_1700.txt
dataset/LiHua-World/data/LiHua-World/week49/20261207_2000.txt
dataset/LiHua-World/data/LiHua-World/week49/20261208_1200.txt
dataset/LiHua-World/data/LiHua-World/week49/20261208_1800.txt
dataset/LiHua-World/data/LiHua-World/week49/20261209_1900.txt
dataset/LiHua-World/data/LiHua-World/week49/20261210_1000.txt
dataset/LiHua-World/data/LiHua-World/week49/20261211_1100.txt
dataset/LiHua-World/data/LiHua-World/week49/20261212_1200.txt
dataset/LiHua-World/data/LiHua-World/week5/20260204_1500.txt
dataset/LiHua-World/data/LiHua-World/week5/20260204_1600.txt
dataset/LiHua-World/data/LiHua-World/week5/20260205_1300.txt
dataset/LiHua-World/data/LiHua-World/week5/20260206_1600.txt
dataset/LiHua-World/data/LiHua-World/week50/20261214_1200.txt
dataset/LiHua-World/data/LiHua-World/week50/20261214_1400.txt
dataset/LiHua-World/data/LiHua-World/week50/20261215_1500.txt
dataset/LiHua-World/data/LiHua-World/week50/20261216_1600.txt
dataset/LiHua-World/data/LiHua-World/week50/20261217_1700.txt
dataset/LiHua-World/data/LiHua-World/week50/20261218_1800.txt
dataset/LiHua-World/data/LiHua-World/week50/20261219_1900.txt
dataset/LiHua-World/data/LiHua-World/week50/20261220_2000.txt
dataset/LiHua-World/data/LiHua-World/week51/20261221_1200.txt
dataset/LiHua-World/data/LiHua-World/week51/20261221_2100.txt
dataset/LiHua-World/data/LiHua-World/week51/20261222_2200.txt
dataset/LiHua-World/data/LiHua-World/week51/20261223_2300.txt
dataset/LiHua-World/data/LiHua-World/week51/20261224_1400.txt
dataset/LiHua-World/data/LiHua-World/week51/20261225_1500.txt
dataset/LiHua-World/data/LiHua-World/week51/20261226_2000.txt
dataset/LiHua-World/data/LiHua-World/week51/20261227_1000.txt
dataset/LiHua-World/data/LiHua-World/week52/20261228_1000.txt
dataset/LiHua-World/data/LiHua-World/week52/20261228_1400.txt
dataset/LiHua-World/data/LiHua-World/week52/20261228_1600.txt
dataset/LiHua-World/data/LiHua-World/week52/20261229_1900.txt
dataset/LiHua-World/data/LiHua-World/week52/20261229_2030.txt
dataset/LiHua-World/data/LiHua-World/week52/20261230_1230.txt
dataset/LiHua-World/data/LiHua-World/week52/20261230_1500.txt
dataset/LiHua-World/data/LiHua-World/week52/20261231_1231.txt
dataset/LiHua-World/data/LiHua-World/week6/20260209_2100.txt
dataset/LiHua-World/data/LiHua-World/week6/20260210_2100.txt
dataset/LiHua-World/data/LiHua-World/week6/20260211_1700.txt
dataset/LiHua-World/data/LiHua-World/week6/20260211_1900.txt
dataset/LiHua-World/data/LiHua-World/week6/20260213_1000.txt
dataset/LiHua-World/data/LiHua-World/week6/20260213_1245.txt
dataset/LiHua-World/data/LiHua-World/week6/20260213_1900.txt
dataset/LiHua-World/data/LiHua-World/week6/20260214_1600.txt
dataset/LiHua-World/data/LiHua-World/week7/20260216_1000.txt
dataset/LiHua-World/data/LiHua-World/week7/20260218_1800.txt
dataset/LiHua-World/data/LiHua-World/week7/20260219_0800.txt
dataset/LiHua-World/data/LiHua-World/week7/20260219_2000.txt
dataset/LiHua-World/data/LiHua-World/week7/20260219_2010.txt
dataset/LiHua-World/data/LiHua-World/week7/20260219_2200.txt
dataset/LiHua-World/data/LiHua-World/week7/20260221_1500.txt
dataset/LiHua-World/data/LiHua-World/week7/20260222_1900.txt
dataset/LiHua-World/data/LiHua-World/week8/20260223_1500.txt
dataset/LiHua-World/data/LiHua-World/week8/20260223_1700.txt
dataset/LiHua-World/data/LiHua-World/week8/20260225_1500.txt
dataset/LiHua-World/data/LiHua-World/week8/20260226_1700.txt
dataset/LiHua-World/data/LiHua-World/week8/20260227_1200.txt
dataset/LiHua-World/data/LiHua-World/week8/20260227_1830.txt
dataset/LiHua-World/data/LiHua-World/week8/20260301_1000.txt
dataset/LiHua-World/data/LiHua-World/week8/20260301_1300.txt
dataset/LiHua-World/data/LiHua-World/week9/20260302_1800.txt
dataset/LiHua-World/data/LiHua-World/week9/20260302_1845.txt
dataset/LiHua-World/data/LiHua-World/week9/20260303_0930.txt
dataset/LiHua-World/data/LiHua-World/week9/20260304_0945.txt
dataset/LiHua-World/data/LiHua-World/week9/20260304_1700.txt
dataset/LiHua-World/data/LiHua-World/week9/20260304_2050.txt
dataset/LiHua-World/data/LiHua-World/week9/20260305_1700.txt
dataset/LiHua-World/data/LiHua-World/week9/20260306_1300.txt
dataset/LiHua-World/data/LiHua-World/week9/20260307_1300.txt
dataset/LiHua-World/data/LiHua-World/week9/20260307_1445.txt
dataset/LiHua-World/data/LiHua-World/week9/20260307_1500.txt
dataset/LiHua-World/data/LiHua-World/week9/20260308_1300.txt
minirag/__pycache__/__init__.cpython-311.pyc
minirag/__pycache__/base.cpython-311.pyc
minirag/__pycache__/llm.cpython-311.pyc
minirag/__pycache__/minirag.cpython-311.pyc
minirag/__pycache__/operate.cpython-311.pyc
minirag/__pycache__/prompt.cpython-311.pyc
minirag/__pycache__/storage.cpython-311.pyc
minirag/__pycache__/utils.cpython-311.pyc
minirag/kg/__pycache__/__init__.cpython-311.pyc
minirag/kg/__pycache__/neo4j_impl.cpython-311.pyc
minirag/kg/__pycache__/oracle_impl.cpython-311.pyc
LiHua-World/graph_chunk_entity_relation.graphml
LiHua-World/kv_store_full_docs.json
LiHua-World/kv_store_llm_response_cache.json
LiHua-World/kv_store_text_chunks.json
LiHua-World/minirag.log
LiHua-World/vdb_chunks.json
LiHua-World/vdb_entities_name.json
LiHua-World/vdb_entities.json
LiHua-World/vdb_relationships.json
